#ignore all uploaded files
*
!.gitignore
!/products/
!/products/1.jpg
!/products/2.jpg
!/products/3.jpg
!/products/4.jpg
!/products/5.jpg
!/products/6.jpg
!/products/7.jpg
!/products/8.jpg
!/products/9.jpg
!/products/10.jpg
!/products/11.jpg
!/products/12.jpg
!/products/13.jpg
