
/* body */
body{
    background-color: brown;
    color: aliceblue;
}

h1{
    text-align: center;
}

img {
    width: 40%;
    height: 40%;
}

.rating-stars{
    color: white;
}

/* header */
header{
    border-radius: 3px;
    border-width: 3px;
    border-style: solid;
    background-image: url("/../public/images/armo_carpet.jpg");
}

.rag-citation{
    font-size: 12px;
}


/* navigation bar */
nav {
    display:flex;
    flex-direction: row;
    border-radius: 3px;
    /* background-image: url("/../public/images/armo_carpet.jpg"); */
    /* background-color: brown; */
    border-width: 3px;
    border-style: solid;
    flex: 1;
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 7px auto;
}

nav ul li{
    justify-content: space-between;
    margin-left: 5px;
}

nav a {
    color: white;
    list-style: none;
    border-radius: 3px;
    border-style: solid;
    background-color: rgb(97, 10, 10);
}

nav a:hover{
    color:rgb(195, 173, 32);
}

/* home */

.content-wrapper{
    display: flex;
    justify-content: space-between;
}

.sidebar{
    width: 250px;
    margin-right: 20px;
    padding: 20px;
    float: left;
}

.sidebar h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.sidebar ul li {
    margin-bottom: 10px;
}


.sidebar ul li a:hover {
    text-decoration: underline;
}


.name-price-star{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-price-star p, .name-price-star .rating-stars{
    margin-left: 5px;
}

.one-product{
    border-radius: 5px;
    border-style: solid;
    border-color: aliceblue;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.description-citation{
    flex-direction: column;
    margin-left: 25px;
}


  .delete-form {
    flex-direction: column;
    align-self: flex-end;
    align-items: end;
    padding-right: 5px;
    padding-bottom: 15px;
  }

/* details */
.details-name-price{
    display: flex;
    flex-direction: row;
    align-content:center;
}

.image-description{
    display: flex;
    flex-direction: row;
}

.product-descriptions{

    flex-direction: column;
    margin: 0 auto;
    max-width: 550px;
}

.product-price{
    margin-left: 10px;
}

.details-rating{
    margin-left: 10px;
}

/* account */
.jewelery-type-label{
    color: white;
    font-weight: 100;
}

.insert-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    color: black;
  }

 .jewelery-type-label {
    color: black;
    padding-top: 5px;
 }

 .login-form {
    padding-top: 20px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
    text-align: center;
    margin-top: 150px;
  }

  .login-form .align-right, .login-form .label-input{
    margin-top: 7px;
  }

  .login-form .login .feedback{
    color:rgb(198, 21, 21);
  }
